            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> {% trans %}Dashboard{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="/admin/nodes"><i class="fa fa-table fa-fw"></i> {% trans %}Nodes{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> {% trans %}Values{% endtrans %}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/values_basic">{% trans %}Basic{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="/admin/values_system">{% trans %}System{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="/admin/values_user">{% trans %}User{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="/admin/values_command">{% trans %}Command{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="/admin/values_config">{% trans %}Config{% endtrans %}</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Extensions<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

{% for entry in jnt_menu_left %}
                                <li>
                                    {{ entry | safe}}
                                </li>
{% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
