<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Janitoo web manager">
        <meta name="author" content="Janitoo Team">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <title>
        {% block title %}
            {%- if not page_title -%}
                {{ flask_config["PROJECT_TITLE"] }} - {{ flask_config["PROJECT_SUBTITLE"] }}
            {%- else -%}
                {{ page_title }} - {{ flask_config["PROJECT_TITLE"] }}
            {%- endif -%}
        {% endblock %}
        </title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='metisMenu/dist/metisMenu.min.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='startbootstrap-sb-admin-2/dist/css/timeline.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='startbootstrap-sb-admin-2/dist/css/sb-admin-2.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.min.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='morrisjs/morris.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='datatables-responsive/css/responsive.dataTables.scss') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/janitoo_manager.css') }}">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

        {% endblock %}

        {# for extra stylesheets. e.q. a template has to add something #}
        {% block css %}
        {% endblock %}

        {# for various extra things #}
        {% block head_extra %}
        {% endblock %}

        {# standard javascript libs #}
        {% block javascript %}
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='metisMenu/dist/metisMenu.min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='raphael/raphael-min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='morrisjs/morris.min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='startbootstrap-sb-admin-2/dist/js/sb-admin-2.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='datatables/media/js/jquery.dataTables.min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('bower.static', filename='socket.io-client/socket.io.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/janitoo_manager.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="/janitoo_constants.js"></script>
        {% endblock %}

    </head>

    <body>

    <div id="wrapper">

        {% block navigation_top %}
            {% include theme('navigation_top.html') %}
        {% endblock %}

        {% block navigation_left %}
            {% include theme('navigation_left.html') %}
        {% endblock %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    {% block head %}
                    {% endblock %}
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            {% block messages %}
                <div id="flashed-messages">
                    {% include theme('flashed_messages.html') %}
                </div>
            {% endblock %}
            </div>
            <!-- /.row -->
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    </body>
</html>
