{% extends theme("layout.html") %}

{% import 'widgets.html' as widgets %}
{% block head %}
<h1 class="page-header"> <i class="fa fa-table fa-fw">&nbsp;{% trans %}Nodes{% endtrans %}</h1></i>
{% endblock %}

{% block content %}
    {{ widgets.network_state(size='large') }}
    <table id="jnt_nodes" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr><th>Id</th><th>Name</th><th>Location</th><th>Product</th><th>Type</th><th>State</th></tr>
      </thead>
      <tfoot>
        <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
{{ widgets.janitoo_socket_script() }}
{{ widgets.network_state_script() }}

    <script type="text/javascript" charset="utf-8">
    function msg2data(msg) {
        var data = [
            msg["hadd"],
            msg["name"],
            msg["location"],
            msg["product_name"],
            msg["product_type"],
            msg["state"]
        ];
        return data
    }
    $(document).ready(function() {
        console.log('Document ready in html page');
        $("#jnt_nodes").DataTable({
          "aaData":[
          ],
          "pageLength": 50,
          "aoColumnDefs":[
            {
                  "aTargets": [ 0 ]
                , "mRender": function ( url, type, full )  {
                    return  '<a href="/node/'+url+'">' + url + '</a>';
                }
            }
          ],
          "fnRowCallback": function(nRow, aData, iDisplayIndex) {
            nRow.setAttribute('id',aData[0].replace('/','\\/'));
          },
          responsive: true,
        });
        // Add `no-wrap` class so the text doesn't wrap for this example
        //~ socket.on('connect', function() {
            //~ socket.emit('my echo event', {data: 'I\'m connected!'});
        //~ });
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        //~ socket.on('my echo response', function(msg) {
            //~ console.log("Received " + msg.data);
        //~ });
        socket.on('my nodes response', function(msg) {
            console.log("Received nodes response : " + msg.data);
            var oTable = $("#jnt_nodes").DataTable();
            oTable.clear();
            $.each(msg.data, function (key, item) {
                console.log("Received nodes hadd : " + item["hadd"]);
                if (oTable.rows($('tr#'+(item["hadd"].replace('/','\\/')))).data().length == 1) {
                    oTable.row($('tr#'+item["hadd"].replace('/','\\/'))).data(
                        msg2data(item)).draw();
                } else {
                    oTable.row.add(msg2data(item)).draw();
                }
            });
        });
        socket.on('my node response', function(msg) {
            console.log("Received node response : " + msg.data['hadd']);
            var oTable = $("#jnt_nodes").DataTable();
            if (typeof msg.data['hadd'] == 'undefined') {
                $.each(msg.data, function (key, item) {
                    //var aPos = oTable.fnGetPosition( $('tr#'+item["hadd"].replace('/','\\/'))[0] );
                    //console.log("pos in table : " + aPos[0]);
                    console.log("Received hadd response : " + item['hadd']);
                    console.log("Received item response : " + item['state']);
                    if (oTable.rows($('tr#'+(item["hadd"].replace('/','\\/')))).data().length == 1) {
                        oTable.row($('tr#'+item["hadd"].replace('/','\\/'))).data(
                            msg2data(item)).draw();
                    } else {
                        oTable.row.add(msg2data(item)).draw();
                    }
                });
            } else {
                //var aPos = oTable.fnGetPosition( $('tr#'+msg.data["hadd"].replace('/','\\/'))[0] );
                //console.log("pos in table : " + aPos[0]);
                console.log("Received msg response : " + msg.data['state']);
                if (oTable.rows($('tr#'+msg.data["hadd"].replace('/','\\/'))).data().length == 1) {
                    oTable.row($('tr#'+msg.data["hadd"].replace('/','\\/'))).data(
                        msg2data(msg.data)).draw();
                } else {
                    oTable.row.add(msg2data(msg.data)).draw();
                }
            }
        });

        socket.emit('my network event', {});
        socket.emit('my nodes event', {});
        socket.emit('my node event', {});
    } );

    </script>

{% endblock %}



