{% extends theme("layout.html") %}

{% import 'widgets.html' as widgets %}
{% block head %}
<h1 class="page-header"> <i class="fa fa-table fa-fw">&nbsp;{% trans %}User&nbsp;values{% endtrans %}</h1></i>
{% endblock %}

{% block content %}
    {{ widgets.network_state(size='large') }}
    <table id="jnt_values_user" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr><th class="user_id">Id</th><th>Node id</th><th>Index</th><th>Label</th><th>Help</th><th>Value</th><th>Units</th><th>poll_delay</th><th>is_polled</th><th>is_readonly</th><th>is_writeonly</th></tr>
      </thead>
      <tfoot>
        <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
{{ widgets.janitoo_socket_script() }}
{{ widgets.network_state_script() }}

    <script type="text/javascript" charset="utf-8">

    function msg2data(msg) {
        var data = [
            msg["uuid"],
            msg["hadd"],
            msg["index"],
            msg["label"],
            msg["help"],
            msg["data"],
            msg["units"],
            msg["poll_delay"],
            msg["is_polled"],
            msg["is_readonly"],
            msg["is_writeonly"]
        ];
        return data
    }

    $(document).ready(function() {
        console.log('Document ready in html page');
        // Add `no-wrap` class so the text doesn't wrap for this example
        $("#jnt_values_user").dataTable({
          "pageLength": 50,
          "aaData":[
          ],
          "aoColumnDefs":[{
                "sTitle":"Site name"
              , "aTargets": [ "hadd", "uuid" ]
            },
            {
                  "aTargets": [ 0 ]
                , "bSortable": false
                , "mRender": function ( url, type, full )  {
                    return  '<a href="user/'+url+'">' + url + '</a>';
                }
          }],
          "fnRowCallback": function(nRow, aData, iDisplayIndex) {
            nRow.setAttribute('id',ValueUuid(aData[1], aData[0], aData[2]));
          },
          responsive: true,
        });

        socket.on('my users response', function(msg) {
            //~ console.log("Received users response : " + msg.data);
            var oTable = $("#jnt_values_user").DataTable();
            $.each(msg.data, function (nkey, nitem) {
                $.each(msg.data[nkey], function (key, item) {
                    //~ console.log("Received users hadd : " + item["uuid"]);
                    if (oTable.rows($('tr#'+ValueUuid(item["hadd"],item['uuid'],item['index']))).data().length >= 1) {
                        oTable.row($('tr#'+ValueUuid(item["hadd"],item['uuid'],item['index']))).data(msg2data(item)).draw();
                        //~ console.log('update'+'tr#'+ValueUuid(item["hadd"], item['uuid'], item['index']));
                    } else {
                        oTable.row.add(msg2data(item)).draw();
                        //~ console.log('add'+'tr#'+ValueUuid(item["hadd"],item['uuid'],item['index']));
                    }
                });
            });
        });
        
        socket.emit('my network event', {});
        //~ socket.emit('my user event', {});
        $("#jnt_values_user").DataTable().clear();
        socket.emit('my users event', {});
    } );

    </script>

{% endblock %}
