{% extends theme("layout.html") %}

{% import 'widgets.html' as widgets %}
{% block head %}
<h1 class="page-header"> <i class="fa fa-table fa-fw">&nbsp;{% trans %}System&nbsp;values{% endtrans %}</h1></i>
{% endblock %}

{% block content %}
    {{ widgets.network_state(size='large') }}
    <table id="jnt_values_system" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr><th class="uuid">Id</th><th>Node id</th><th>label</th><th>Help</th><th>Value</th><th>is_readonly</th><th>is_writeonly</th></tr>
      </thead>
      <tfoot>
        <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
{{ widgets.janitoo_socket_script() }}
{{ widgets.network_state_script() }}

    <script type="text/javascript" charset="utf-8">

    function msg2data(msg) {
        var data = [
            msg["uuid"],
            msg["hadd"],
            msg["label"],
            msg["help"],
            msg["data"],
            msg["is_readonly"],
            msg["is_writeonly"]
        ];
        return data
    }

    $(document).ready(function() {
        console.log('Document ready in html page');
        // Add `no-wrap` class so the text doesn't wrap for this example
        $("#jnt_values_system").dataTable({
          "pageLength": 50,
          "aaData":[
          ],
          "aoColumnDefs":[{
                "sTitle":"Site name"
              , "aTargets": [ "hadd", "uuid" ]
            },
            {
                  "aTargets": [ 0 ]
                , "bSortable": false
                , "mRender": function ( url, type, full )  {
                    return  '<a href="/basic/'+url+'">' + url + '</a>';
                }
          }],
          "fnRowCallback": function(nRow, aData, iDisplayIndex) {
            nRow.setAttribute('id',aData[1].replace('/','\\/')+'_'+aData[0]);
          },
          responsive: true,
        });

        socket.on('my systems response', function(msg) {
            //~ console.log("Received basics response : " + msg.data);
            var oTable = $("#jnt_values_system").DataTable();
            oTable.clear();
            $.each(msg.data, function (nkey, nitem) {
                $.each(msg.data[nkey], function (key, item) {
                    //~ console.log("Received systems hadd : " + item["uuid"]);
                    if (oTable.rows($('tr#'+(item["hadd"].replace('/','\\/')+'_'+item['uuid']))).data().length == 1) {
                        oTable.row($('tr#'+item["hadd"].replace('/','\\/')+'_'+item['uuid'])).data(
                            msg2data(item)).draw();
                    } else {
                        oTable.row.add(msg2data(item)).draw();
                    }
                });
            });
        });
        socket.on('my system response', function(msg) {
            console.log("Received system response : " + msg.data['hadd']);
            var oTable = $("#jnt_values_system").DataTable();
            if (typeof msg.data['hadd'] == 'undefined') {
                $.each(msg.data, function (key, item) {
                    //var aPos = oTable.fnGetPosition( $('tr#'+item["hadd"].replace('/','\\/'))[0] );
                    //console.log("pos in table : " + aPos[0]);
                    console.log("Received uuid response : " + item['uuis']);
                    console.log("Received hadd response : " + item['hadd']);
                    if (oTable.rows($('tr#'+(item["hadd"].replace('/','\\/')+'_'+item['uuid']))).data().length == 1) {
                        oTable.row($('tr#'+item["hadd"].replace('/','\\/')+'_'+item['uuid'])).data(
                            msg2data(item)).draw();
                    } else {
                        oTable.row.add(msg2data(item)).draw();
                    }
                });
            } else {
                //var aPos = oTable.fnGetPosition( $('tr#'+msg.data["hadd"].replace('/','\\/'))[0] );
                //console.log("pos in table : " + aPos[0]);
                console.log("Received msg response : " + msg.data['hadd']);
                if (oTable.rows($('tr#'+msg.data["hadd"].replace('/','\\/')+'_'+msg.data['uuid']+'_'+msg.data['index'])).data().length == 1) {
                    oTable.row($('tr#'+msg.data["hadd"].replace('/','\\/')+'_'+msg.data['uuid']+'_'+msg.data['index'])).data(
                        msg2data(msg.data)).draw();
                } else {
                    oTable.row.add(msg2data(msg.data)).draw();
                }
            }
        });

        socket.emit('my network event', {});
        //~ socket.emit('my system event', {});
        socket.emit('my systems event', {});
    } );

    </script>

{% endblock %}

